* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: inset 0 0 5px black;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border: 3.5px solid black;
}
  
body {
  margin: 0;
  overscroll-behavior: none;
  max-width: 100%;
  scroll-behavior: smooth;
}

.pfp_img {
  position: absolute;
  left: 90%;
  margin-top: 0.5%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  opacity:1; 
  transform: translateX(-500px); 
  transition: opacity 0.7s, transform 0.6s;
  z-index: 100;
  border-right: 3.5px solid black;
  max-height: fit-content;
  max-width: fit-content;
  min-height: 200px;
  min-width: 200px;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


.fontBig {
   font-size: 60px;
}

.footer {
  border-top: 3.5px solid black;
  padding: 15px;
  text-align: left;
  background-color: gray;
  margin-top: 11%;
  height: 200%;
}

@font-face {
  font-family: Pixel;
  src: url("../../assets/Pixel.ttf");
}

*:focus {
  outline: none;
}

.header {
  padding: 10px;
  text-align: center;
}

.abs {
  margin: 100px;
  padding: 10;
}

.topnav {
  overflow: hidden;
  background-color: #0c9;
  box-shadow: 1px 0.3px 2px #444444;
  position: sticky;
  display: block;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

.pixel.search {
  border: 3.5px solid black;
  display: inline-flex;
  color: #000000;
  background-color: #fff;
  font-size: 14px;
  margin-left: 20px;
  height: 25px;
  width: 500px;
  font-family: Pixel;
  text-shadow: 1px 2px 1px #888;
}

.link {
  color: blue;
}

#background-layer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#title_container {
  z-index: 100;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: Pixel;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  background-color: #0a7;
  color: #f2f2f2;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/bg_icon (4).png");
}
#main_content {
  background-image: url("../../assets/Background.png");
}

.checkbox {
  border: 3.5px solid #000;
  background-color: #fff;
  width: 36px;
  height: 36px;
  position: absolute;
  transform: translateY(-50%);
}

.agreement {
  padding-bottom: 40px;
}

#description {
  margin-left: 70px;
}

.invisible {
  display: none;
}

.checkbox > img {
  width: 8px;
  height: 8px;
  transform: translateX(10px) translateY(-8px) scale(4);
}

#post_content {
   border: 3.5px solid black;
   font-family: Pixel; 
   width: 850px;
   height: 200px;
   resize: none;
   font-size: 16px; 
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.red {
  color: red;
}

.violet {
  color: violet;
}

#logo_icon {
  transform: translateY(16px);
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

p, a, span, h1, h2, h3, h4, h5, h6, label {
  font-family: Pixel;
  color: white;
  text-shadow: 1px 3px 1px gray;
}

a {
  color: blue;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  font-family: Pixel;
}

.fontSmall {
  font-size: 15px;
}

.pfp_name {
  position: absolute;
  transform: translateX(28px) translateY(-48px);
  color: black;
  font-size: 12px;
}
.eop {
  padding: 100px;
}

#customUploadImage {
    border: none;
    font-family: Pixel;
    color: white;
    background-color: #0c9;
    font-size: 15px;
    width: 200px;
    height: 50px;
}
#customUploadImage:hover {
  border: none;
  font-family: Pixel;
  color: white;
  background-color: #e44;
  font-size: 15px;
  width: 200px;
  height: 50px;
}

#boldText {
  border: none;
  font-family: Pixel;
  color: white;
  background-color: #0c9;
  font-size: 15px;
  width: 200px;
  height: 50px;
}

#boldText:hover {
  border: none;
  font-family: Pixel;
  color: white;
  background-color: #e44;
  font-size: 15px;
  width: 200px;
  height: 50px;
}

#fontColor {
  border: none;
  font-family: Pixel;
  color: white;
  background-color: #0c9;
  font-size: 15px;
  width: 200px;
  height: 50px;
}

#fontColor:hover {
  border: none;
  font-family: Pixel;
  color: white;
  background-color: #e44;
  font-size: 15px;
  width: 200px;
  height: 50px;
}

#edit {
  margin-top: 50px;
}


body {
  cursor: url(https://firebasestorage.googleapis.com/v0/b/pixcel-272e8.appspot.com/o/images%2FMouseCursor56x84.png?alt=media&token=8fb3123e-70dd-491b-b1d7-0a5df700f3a1), auto;
}

*::selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.align-left {
  max-width: 95%;
  margin: 1.25%
}

.fontMedium {
  font-size: 30px;
}

@media screen and (max-width:600px) {
  .column {
      width: 100%;
  }
}