.pos-relative {
    position: relative;
    left: 0px;
    top: 0px
}

.overflow-none {
    overflow: none;
}

#options {
    width: 100%; 
    height: 100px;
}

[data-color="blue"] {
    background-color: #0000ff;
}

body {
    overflow: none;
}

#main_container {
    overflow: auto;
}

.heading {
    font-family: sans-serif;
}