* {
    box-sizing: border-box;
  }
  
body {
  margin: 0;
  overscroll-behavior: none;
  max-width: 100%;
  scroll-behavior: smooth;
}

.footer {
  border-top: 3.5px solid black;
  padding: 15px;
  text-align: left;
  background-color: gray;
  margin-top: 11%;
  height: 200%;
}

@font-face {
  font-family: Pixel;
  src: url("../assets/Pixel.ttf");
}

.header {
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #0c9;
  box-shadow: 1px 0.3px 2px #444444;
  position: sticky;
  display: block;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.link {
  color: blue;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: Pixel;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  background-color: #0a7;
  color: #f2f2f2;
}

body {
  background-image: url("../assets/Background.png");
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.red {
  color: red;
}

.violet {
  color: violet;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

p, a, span, h1, h2, h3, h4, h5, h6 {
  font-family: Pixel;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  font-family: Pixel;
}

.fontSmall {
  font-size: 15px;
}

*::selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.fontSmall.paragraph.align-left {
  max-width: 85%;
  margin: 1.25%
}

.fontMedium {
  font-size: 30px;
}

.fontMedium.align-left {
  margin: 1.25%;
}

@media screen and (max-width:600px) {
  .column {
      width: 100%;
  }
}