* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: inset 0 0 5px black;
  border-radius: 0px;
}

img#pfp_img_id {display: flex;position: absolute;left: 90%;align-items: center;margin: -0.5%;}

::-webkit-scrollbar-thumb {
  background: grey;
  border: 3.5px solid black;
}
  
body {
  margin: 0;
  overscroll-behavior: none;
  max-width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: grey;
}

#toolset {
  position: absolute;
  background-color: #222222;
  padding: 7.5px;
  width: 225px;
  z-index: -1;
  /* padding-top: 10px; */
  /* position: relative; */
  /* top: -60px; */
  height: 100%;
  /* display: grid; */
  /* display: flex; */
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  /* align-items: center; */
}

#layer_tool_box {
  background-color: #222;
  padding: 7.5px;
  width: auto;
  padding-bottom: 100%;
  float: right;
  z-index: -1;
  height: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.exitbtn {
  border: none; 
  background-color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  font-family: tahoma;
  margin-right: 2px;
  position:absolute;
  top: -10px;
  right:-20px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  opacity:1; 
  transform: translateX(-500px); 
  transition: opacity 0.7s, transform 0.6s;
  z-index: 100;
  border-right: 3.5px solid black;
  max-height: fit-content;
  max-width: fit-content;
  min-height: 200px;
  min-width: 200px;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


#background_canvas {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}


.fontBig {
   font-size: 60px;
}

.footer {
  border-top: 3.5px solid black;
  padding: 15px;
  text-align: left;
  background-color: gray;
  margin-top: 11%;
  height: 200%;
}

.toolslot {
  width: 48px;
  height: 48px;
}

@font-face {
  font-family: Pixel;
  src: url("../assets/Pixel.ttf");
}

*:focus {
  outline: none;
}

.header {
  padding: 10px;
  text-align: center;
}

.abs {
  margin: 100px;
  padding: 10;
}

.add > p {
  font-size: 30px;
  transform: translateY(-36.5px) translateX(7.5px);
  cursor: default;
}

.add {
   background-color: rgba(0, 204, 153, 0.342);
}

input#exitImg {
  position: relative;
  float: right;
  top: -88%;
}

div#extDialogBox {
  width: 100%;
  height: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #0c9;
  box-shadow: 1px 0.3px 2px #444444;
  background-image: linear-gradient(#74bfbf, #0c9, #005039);
  position: sticky;
  display: block;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .topnav {
     display: none;
  }
  .toolslot {
    width: 32px;
    height: 32px;
  }
}

.pixel.search {
  border: 3.5px solid black;
  display: inline-flex;
  color: #000000;
  background-color: #fff;
  font-size: 14px;
  margin-left: 20px;
  height: 25px;
  width: 500px;
  font-family: Pixel;
  text-shadow: 1px 2px 1px #888;
}

.link {
  color: blue;
}

#background-layer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#title_container {
  z-index: 100;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: Pixel;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  background-color: #0a7;
  color: #f2f2f2;
}

#ToolTitle {
  color: white;
  font-family: Pixel;
  font-size: 14px;
}

#SaveTitle {
  color: white;
  font-family: Pixel;
  font-size: 14px;  
}

.selected {
   border:rgb(255, 255, 255) solid 3.5px;
}

#scaleSliderRange {
  height: 50px;
  -webkit-appearance: none;
  width: 180px;
  outline: none;
  background: url(../assets/h-slider-background.png);
  background-size: 180px 40px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.li {
  color: white;
  font-family: Pixel;
}

.invisible-animated {
  transition: opacity 0.2s;
  opacity: 0;
}

#viewMoreToolsDialog_black_bg {
  background-color: #0000005b;
  position: absolute;
  z-index: 1009;
  left: 0px;
  display: flex;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#viewMoreToolsDialog_main_modal_box {
  background-color: #000;
  width: 50%;
  height: 60%;
}

#viewMoreToolsDialog_main_modal_box > label {
  color: white;
  font-family: Pixel;
  font-size: 16px;
  margin-left: 20px;
}
.buttonModResize {
  width: 25px;
  height: 25px;
  /* font-size: 16px; */
  font-family: 'Pixel';
  color: white;
  background-color: black;
  border: 3.5px solid white;
  font-size: 12px;
}

#Resize {
  border: 3.5px solid white;
  background-color: black;
  padding: 10px;
  font-size: 16px;
  font-family: Pixel;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

.subtractButton {
  margin-left: 10px;
}


#viewMoreToolsDialog_main_modal_box > input[type="number"] {
  border: 3.5px solid white;
  background-color: #000;
  color: white;
  font-family: Pixel;
  margin-top: 5px;
  width: 50px;
  cursor: default;
  height: 25px;
  caret-color: rgba(0,0,0,0);
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
}


#resizeCanvasCategory {
  margin-left: 10px;
}

#loading_screen {
  background-color: #0000005b;
  position: absolute;
  z-index: 1009;
  left: 0px;
  display: flex;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#loading_screen > h6 {
  color: white;
  font-family: Pixel;
  font-size: 30px;
  text-shadow: none;
}

#ScaleCategory {
  color: white;
  font-family: Pixel;
  font-size: 14px;  
}

#dialog_bg_black_keyboard_shortcut {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

#dialog_bg_gray_main_modal_box {
  z-index: 101;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgb(85, 85, 85);
  width: 45%;
  height: 75%;
}

#sprite_frame_category {
  color: #ffffff;
  font-size: 14px;
  font-family: Pixel;
}

#addFrameButton {
  border: 5px groove rgb(200, 30, 30);
  color: white;
  background-color: rgb(200, 30, 30);
  font-size: 11px;
  padding: 10px;
  margin: 10px;
  font-family: Pixel;
}

#addFrameButton:active {
  border: 5px ridge rgb(150, 30, 30);
  color: white;
  background-color: rgb(150, 30, 30);
  font-size: 11px;
  padding: 10px;
  margin: 10px;
  font-family: Pixel;
}

#sprite_frame_fragment_container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 45%;
  overflow-x: hidden;
}

canvas.layerBox.layerPreview {
  position: relative;
  width: 140px;
  height: 120px;
  top: -40px;
}

#sprite_frame_fragment_container > div {
  width: 70%;
  height: 125px;
  margin: 5px;
  background-image: url(../assets/background_canvas.png);
  background-size: 8px 8px;
}

.LayerBoxCanvasPreview {
  width: 100%;
  height: 100%;
}

div#layerMainContainer::-webkit-scrollbar {
  width: 10px;
}

.LayerBoxContainer {
  border: 5.5px solid white;
  padding-bottom: 4px;
  width: 150px;
  height: 150px;
  background-image: url(../assets/background_canvas.png);
  background-size: 8px 8px;
}

#layerMainContainer {
  overflow-y: auto;
  overflow-x: hidden;
  border: 5.5px solid white;
  width: 37%;
  height: 75%;
  margin-left: 20px;
}

#sprite_frame_fragment_container > div.selected {
    border: 5.5px solid white;
}

#tag_number_label {
   font-family: Pixel;
   color: black;
   font-size: 12px;
   position: relative;
   top: -15px;
}

div.layerMainContainer {
   width: 120px;
   overflow-y: auto;
   overflow-x: hidden;
   height: 300px;
   float: left;
}

canvas#preview_canvas_sprite_animation {
  height: 125px;
  width: 140px;
  border: 3.5px solid #fff;
  margin: 5px;
  background-image: url(../assets/background_canvas.png);
  background-size: 8px 8px;
}

#clearCanvasButton {
  background-color: #0c9;
  color:rgb(255, 255, 255);
  font-family: Pixel;
  padding: 5px;
  border: 3.5px ridge #0c9;
  font-size: 14px;
}

#viewMoreToolsButton {
  background-color: #0c9;
  color:rgb(255, 255, 255);
  font-family: Pixel;
  padding: 5px;
  border: 3.5px ridge #0c9;
  font-size: 14px;
  margin-bottom: 10px;
}

div[role="button"] {
  cursor: pointer;
  font-family: Pixel;
}

div.manage_layer_ui {
  color: white;
  background-color: black;
  width: 50%;
  height: 80%;
}

p#LayerTitle {
  margin: 10px;
  color: white;
  text-shadow: none;
}

#editLayers {
  background-color: #0c9;
  color:rgb(255, 255, 255);
  font-family: Pixel;
  padding: 5px;
  border: 3.5px ridge #0c9;
  font-size: 14px;
}

p#ClearCanvasCategoryTitle {
  color: white;
  font-family: Pixel;
  font-size: 14px;  
}

p#MoreToolsCategory {
  color: white;
  font-family: Pixel;
  font-size: 14px;  
}

input#scaleSliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-position: center;
  background-image: url(../assets/h-slider-thumb-ico.png);
  background-size: 30px 30px;
  /* margin: auto; */
  transform: translate(-2.5px, -5px);
}

#main_canvas {
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -46%);
    aspect-ratio: 100 / 100;
    background-size: 32px 32px;
    z-index: -1;
    image-rendering: pixelated;
    background-image: url(../assets/background_canvas.png);
    background-position: fixed;
}

canvas#selected-canvas {
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -46%);
  aspect-ratio: 100 / 100;
  z-index: -1;
  image-rendering: pixelated;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

#fig-id-85412d4edc1ee82bde86165364ae10052b26270c90450137b7b215af64f1c530 {
  width: 100%;
  height: 100%;
}

#dialog_window_parent {
   background-color: rgba(0, 0, 0, 0.4);
   width: 100%;
   height: 100%;
   z-index: 1;
   position: absolute;
   left: 0px; 
   top: 0px;
   display: flex;
   align-items: center;
  justify-content: center;
}

.red {
  color: red;
}

.violet {
  color: violet;
}

.colorBox {
  border: 0.1px solid black;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

.invisible {
  visibility: hidden;
  display: none;
}

.colorDialog_bg {
  z-index: 99;
  position: absolute;
  display: block;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/*Dark Theme*/

.colorDialog_bg > div[data-theme="dark"] {
  z-index: 99;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 3.5%;
  border: 3.5px solid black; 
  background-color: #222;
}

.colorDialog_bg > div > p {
   z-index: 99;
   color: black;
}

.colorHex {
  padding: 5%;
  margin-top: 10px;
  border: 3.5px solid black;
}

.addButton {
  padding: 15px;
  background-color: grey;
  color: white;
  font-family: Pixel;
  margin-left: 85%;
  margin-top: 30px;
}

#bg-color-pallete {
  display: flex;
  grid-template-columns: auto auto;
  border: 3.5px solid black;
  background-color: #222;
  padding-bottom: 10px;
  width: 100%;
  z-index: 1001;
  white-space: nowrap;
  flex-direction: row;
  flex-wrap: wrap;
}

#coords {
  margin-left: 25px; 
}

#logo_icon {
  transform: translateY(16px);
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

p, a, span, h1, h2, h3, h4, h5, h6 {
  font-family: Pixel;
  color: white;
  text-shadow: 1px 3px 1px gray;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  font-family: Pixel;
}

.fontSmall {
  font-size: 15px;
}

#FAQ {
  color: black;
  padding-bottom: 40px;
}
#FAQ > div {
  margin-top: 20;
}

#FAQ > div > p, #FAQ > div > h2 {
  color: white;
}

*::selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.align-left {
  max-width: 95%;
  margin: 1.25%
}

.fontMedium {
  font-size: 30px;
}

@media screen and (max-width:600px) {
  .column {
      width: 100%;
  }
  .colorBox {
     width:20px;
     height: 20px;
  }
  #bg-color-pallete {
     display: none;
  }
}